<div (rtclick)="onClick($event)" class="w-screen h-screen">

@for (node of nodes; track $index) {
  <app-synaps-node [node]="node" ></app-synaps-node>
}

@for (edge of edges; track $index) {
  <app-synaps-edge [edge]="edge" ></app-synaps-edge>
}


<div class="absolute left-96 top-10 flex gap-4 items-center">
  <a class=" bg-teal-700 px-4 py-1 text-white" (click)="addNode($event)" href="">Add node</a>

    <form class="flex flex-col gap-3" [formGroup]="form" (ngSubmit)="onSubmit()" >
      <select class="p-2" formControlName="source" id="">
        <option value="0">Source node</option>
        @for (node of nodes; track $index) {
          <option [value]="node.id">Node {{ node.id }}</option>
        }
      </select>

      <select class="p-2"  formControlName="target" id="">
        <option value="0">Target node</option>
        @for (node of nodes; track $index) {
          <option [value]="node.id">Node {{ node.id }}</option>
        }
      </select>

      <button type="submit" class="bg-teal-700 px-4 py-1 text-white">
        Add edge
      </button>

    </form>
</div>
</div>