<div class="w-screen ">

  <!-- <app-header></app-header> -->

  <div class="text-sm z-10" (rtclick)="onClick($event)">

    @for (node of nodes; track $index) {
      <!-- <app-synaps-node [node]="node" ></app-synaps-node> -->
      <app-entity [node]="node"></app-entity>

    }

    @for (rsh of relationships; track $index) {
      <app-relationship [rsh]="rsh"></app-relationship>
    }

    <!-- @for (edge of edges; track $index) {
      <app-synaps-edge [edge]="edge" ></app-synaps-edge>
    } -->
    @for (rsh of relationships; track $index) {
      <!-- <app-synaps-edge [edge]="edge" ></app-synaps-edge> -->
      @if (rsh.id != 0 && rsh.e1 != 0 && rsh.e2 != 0) {
        <perfect-arrow [source]="'#relationship'+rsh.id.toString()" [target]="'#entity'+rsh.e1.toString()"></perfect-arrow>
        <perfect-arrow [source]="'#relationship'+rsh.id.toString()" [target]="'#entity'+rsh.e2.toString()"></perfect-arrow>
      }

    }


      <div class="absolute left-96 top-10 flex gap-4 items-center">
        <a class=" bg-teal-600 px-4 py-1 text-white" (click)="addNode($event)" href="">Add entity</a>
        <a class=" bg-teal-600 px-4 py-1 text-white" (click)="addRelationship($event)" href="">Add relationship</a>

          <form class="flex flex-col gap-3" [formGroup]="form" (ngSubmit)="onSubmit()" >
            <select class="p-2" formControlName="source" id="">
              <option value="0">Source node</option>
              @for (node of nodes; track $index) {
                <option [value]="node.id">Node {{ node.id }}</option>
              }
            </select>

            <select class="p-2"  formControlName="target" id="">
              <option value="0">Target node</option>
              @for (node of nodes; track $index) {
                <option [value]="node.id">Node {{ node.id }}</option>
              }
            </select>

            <button type="submit" class="bg-teal-600 px-4 py-1 text-white">
              Add edge
            </button>

          </form>
      </div>

      <!-- <div class="relative top-4 right-4 shadow w-1/3 h-1/2">

      </div> -->




  </div>

  <!-- <app-footer-tools></app-footer-tools> -->

</div>